.col-lg-10 {
	width: 93%;
}
li {
	border: none !important;
	border-radius: 0px !important;
	background: none !important;
}

.noty_message {
	border: none;
	height: 40px;
}

.noty_message_info {
	background-color: rgba(87, 183, 226, 1);
}

.noty_message_error {
	background-color: rgba(255, 0, 0, 1);
}

.noty_message_warning {
	/* background-color: rgba(255, 194, 55, 1); */
	background-color: rgba(239, 214, 39, 1);
}

.noty_text {
	color: #ffffff;
	font-size: 1.2em;
	line-height: 1.6;
	font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial;
	-webkit-font-smoothing: antialiased;
}
#dashboard .noty_text {
	color: #2d2d2d;
	font-size: 1.2em;
	line-height: 1.6;
	font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial;
	-webkit-font-smoothing: antialiased;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px 0;
}
.mes {
	color: red;
}
.format-title {
	font-size: 14px;
	color: #adadad;
}
.format-value {
	font-size: 20px;
	color: #f00;
}
.format-style {
	border: 1px solid #adadad;
	padding: 5px;
}
.func {
	margin-top: 20px;
}
ul li a {
	color:rgba(200,60,60,0.7);
	font-size: 16px;
	font-weight: normal;
}
#tab-feedbackRate {
	float: left;
	width: 30%;
	font-size: 36px;
	color: #ae0000;
	margin-left: 20px;
}
#tab-feedbackRate p{
	padding: 0;
	margin: 0;
}

.tab-productMatch{
	font-size: 16px;
	color: #000;
}
.tab-feedbackLabel {
	float: right;
	width: 60%;
	margin-right: 80px;
}
.tab-feedbackLabel span{
	padding: 3px;
	margin: 10px;
	border: 1px solid #d0d0d0;
	color: #ff7575;
	background-color: #d0d0d0;
}
.purchase-people {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	background-color: #d0d0d0;
	border-radius: 5px;
}
.tab-people {
	margin-top: 30px;
}
.tab-comment {
	height: auto;
	margin-top: 30px;
}
.tab-select {
	float: right;

}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 0px;
    /* padding: 5px 0; */
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu li a{
	font-size: 14px;
}
.nav-checkbox {
	height: 45px;
	line-height: 45px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0 10px;
}
.comment-time {
	float: left;
}
.comment-content {
	float: left;
}
.comment-product {
	float: left;
}
.comment-information {
	float: left;
}